<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Name</title>
   
</head>
<body>
    <style>
        .blue
        {
            background-color: blue;
        }
        .green
        {
            background-color: green;
        }
    </style>
    <script>
        function traverse()
        {
            var textboxes=document.getElementsByClassName("blue");
            var n=textboxes.length;
            for(var i=0;i<=n-1;i++)
            {
                textboxes[i].value="Blue";
            }
        }
    </script>
</body>
</html>