<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
    
    function swap() {
        var a=document.getElementById("game")
        var b=document.getElementById("game1")
         var t=a.value;
         a.value=b.value;
         b.value=t;
         

        
    }
    </script>

</head>
<body>
   A <input type="text" id="game">
   <br>
   B <input type="text " id="game1"> 
   <br>
   <button  onclick=" swap()"  > Submit </button>
</center>
</body>
</html>